<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Executable" value="Unturned.exe"/>
    <add key="Arguments" value="-logFile &quot;Servers=/{0}/Rocket/Unturned.log&quot; -nographics -batchmode -silent-crashes +secureserver/{0}"/>
    <add key="ServerPath" value="Servers/{0}/Rocket/"/>
    <add key="RocketPath" value="Modules/Rocket.Unturned"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRocketService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:27115/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IRocketService" contract="IPC.IRocketService"
        name="BasicHttpBinding_IRocketService" />
    </client>
  </system.serviceModel>
</configuration>
