<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Executable" value="Unturned.exe"/>
    <add key="Arguments" value="-logFile &quot;Servers=/{0}/Rocket/Unturned.log&quot; -nographics -batchmode -silent-crashes +secureserver/{0}"/>
    <add key="ServerPath" value="Servers/{0}/Rocket/"/>
  </appSettings>
</configuration>
