<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRocketService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:27115/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRocketService" contract="IPC.IRocketService" name="BasicHttpBinding_IRocketService" />
        </client>
      <services>
        <service name="Rocket.Launcher.IPC.RocketLauncherService" behaviorConfiguration="ServiceBehavior">
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="ServiceBehavior">
            <serviceMetadata />
            <serviceDebug includeExceptionDetailInFaults="True" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>
